/DumpPoopAction.msg
/DumpPoopActionFeedback.msg
/DumpPoopActionGoal.msg
/DumpPoopActionResult.msg
/DumpPoopFeedback.msg
/DumpPoopGoal.msg
/DumpPoopResult.msg
/ExploreAction.msg
/ExploreActionFeedback.msg
/ExploreActionGoal.msg
/ExploreActionResult.msg
/ExploreFeedback.msg
/ExploreGoal.msg
/ExploreResult.msg
/FaceTargetAction.msg
/FaceTargetActionFeedback.msg
/FaceTargetActionGoal.msg
/FaceTargetActionResult.msg
/FaceTargetFeedback.msg
/FaceTargetGoal.msg
/FaceTargetResult.msg
/InitAction.msg
/InitActionFeedback.msg
/InitActionGoal.msg
/InitActionResult.msg
/InitFeedback.msg
/InitGoal.msg
/InitResult.msg
/InsertScooperAction.msg
/InsertScooperActionFeedback.msg
/InsertScooperActionGoal.msg
/InsertScooperActionResult.msg
/InsertScooperFeedback.msg
/InsertScooperGoal.msg
/InsertScooperResult.msg
/MoveToPositionAction.msg
/MoveToPositionActionFeedback.msg
/MoveToPositionActionGoal.msg
/MoveToPositionActionResult.msg
/MoveToPositionFeedback.msg
/MoveToPositionGoal.msg
/MoveToPositionResult.msg
/ScoopLitterboxAction.msg
/ScoopLitterboxActionFeedback.msg
/ScoopLitterboxActionGoal.msg
/ScoopLitterboxActionResult.msg
/ScoopLitterboxFeedback.msg
/ScoopLitterboxGoal.msg
/ScoopLitterboxResult.msg
