<launch>
  <node pkg="litterbox" type="move_to_position" name="move_to_position" output="screen">
</node>

  <node pkg="litterbox" type="scoop_litterbox" name="scoop_litterbox" output="screen">
</node>

  <node pkg="litterbox" type="dump_poop" name="dump_poop" output="screen">
</node>

  <node pkg="litterbox" type="explore" name="explore" output="screen">
</node>

  <node pkg="litterbox" type="init" name="init" output="screen">
  </node>

  <node pkg="litterbox" type="insert_scooper" name="insert_scooper" output="screen">
    <param name="simulation" type="bool" value="true"/>
    <param name="waittime" type="int" value="10"/>
    <param name="scoopModelFile" type="string" value="$(find litterbox)/objects/scooper.model"/>
  </node>
</launch>
