<launch>
  <node pkg="litterbox" type="move_to_position" name="move_to_position" output="screen">
</node>

  <node pkg="litterbox" type="scoop_litterbox" name="scoop_litterbox" output="screen">
</node>

  <node pkg="litterbox" type="dump_poop" name="dump_poop" output="screen">
</node>

  <node pkg="litterbox" type="explore" name="explore" output="screen">
</node>

  <node pkg="litterbox" type="init" name="init" output="screen">
  </node>


</launch>
