<!-- 
Copied from pr2_3dnav to resolve incorrect point cloud source.
Launch octomap_server for mapping: Listens to incoming PointCloud data
and incrementally builds an octomap. The data is sent out in different representations. -->
<launch>
        <!-- <node pkg="litterbox" type="laserscan_to_pointcloud" name="laserscan_to_pointcloud">
          <remap from="scan_in" to="base_scan_marking"/>
          <remap from="cloud_out" to="base_scan_marking_cloud"/>
        </node> -->

        <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
                <param name="resolution" value="0.025" />
                <param name="sensor_model/miss" value="0.0"/>

                <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
                <param name="frame_id" type="string" value="odom_combined" />
                <!-- odom_combined -->

                <!-- maximum range to integrate (speedup!) -->
                <param name="max_sensor_range" value="3" />
                 
                <param name="filter_speckles" value="true" />
                <!-- Planning node will ignore objects below 8 centimeters -->
                <param name="filter_ground" value="false" />

                <!-- data source to integrate (PointCloud2) -->
                <!-- TODO: Use a filtered point source -->
                <!-- <remap from="cloud_in" to="/narrow_stereo/left/points" /> -->
                <remap from="cloud_in" to="base_scan_marking" />
                <!-- <remap from="/projected_map" to="/map"/> -->
        </node>
</launch>

