<launch>
  <include file="$(find litterbox)/launch/experiment_deps.launch" />

  <node pkg="litterbox" type="count_pixels" name="count_pixels" respawn="false" output="screen" cwd="ROS_HOME">
    <param name="input_type" value="collision"/>
    <param name="actual_volume" value="0.32"/>
    <!--<remap from="collision_map_in" to="octomap_collision_map" />-->
    <remap from="collision_map_in" to="collision_map_occ"/>
    <remap from="voxel_grid_in" to="/move_base_node/local_costmap/voxel_grid"/>
  </node>

  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer"> <remap from="voxel_grid" to="/move_base_node/local_costmap/voxel_grid"/> </node>
</launch>

