<launch>
  <node pkg="litterbox" type="detect_object" name="detect_litterbox" output="screen">
    <param name="object_name" value="Litterbox" />
</node>

  <node pkg="litterbox" type="detect_object" name="detect_trash" output="screen">
    <param name="object_name" value="Trash" />
</node>


  <node pkg="litterbox" type="detect_scooper_attached" name="detect_scooper_attached" output="screen">
    <param name="joint_name" value="r_gripper_joint" />
</node>

  <node pkg="litterbox" type="determine_lb_dimensions_server" name ="determine_lb_dimensions_server" output="screen">
    <param type="boolean" name="debug" value="true" />
  </node>

</launch>
